.field {
  font-size:20px;
  margin-top:10px;
  display:inline-block;
}

.cvc.field {
  margin-left:15px;
}

label {
  display:block;
}

.error label {
  color: red;
}

input {
  font-family: monospace;
  font-size:20px;
  padding:7px;
  border-radius:7px;
  border: 1px solid #ccc;
}

.error input {
  color: red;
  border: 1px solid red;
}

#submit {
  font-size:16px;
  margin-top:20px;
  padding:7px;
  margin-bottom:30px;
  border-radius:7px;
  border: 1px solid #555;
  color:#eee;
  background-color:#555;
  cursor: pointer;
}

.emoji {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  background-size: 20px 20px;
  background-image: url(https://assets-cdn.github.com/images/icons/emoji/unicode/1f610.png);
  top: 4px;
  left: 10px;
}

.valid {
  background-image: url(https://assets-cdn.github.com/images/icons/emoji/unicode/1f604.png);
}

.invalid {
  background-image: url(https://assets-cdn.github.com/images/icons/emoji/unicode/1f622.png);
}